// GENERAL
@import "@/styles/variables.scss";
 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	 
 
 }
 .btn{
	 border-radius: 50px;
	 border: none;
	 font-weight: 600;
 }

 
 img{
	max-width: 100%;
 }
 
 .container{
	max-width: 1280px;
	margin: 0 auto;
 }


// decoration
 .curved-line{
	width: 60px;
	position: relative;
	height: 50px;
	overflow: hidden;
	display: block;
	border-radius: 50px;
	line-height: 5px;


	&::before{
		content: '....................';
		text-decoration-color: yellow;
		font-size: 2rem;
		position: absolute;
		left: -13px;
		color: transparent;
		text-decoration-style: wavy;
		text-decoration-line: underline;
	}
}



.play{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	color: $dodgerBlue;
	border-radius: 50% ;
	transform: translatey(-50%);
}