// GENERAL
@import "@/styles/variables.scss";
 
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	 
 
 }
 .btn{
	 border-radius: 50px;
	 border: none;
	 font-weight: 600;
 }

 
 img{
	max-width: 100%;
 }
 
 .container{
	max-width: 1280px;
	margin: 0 auto;
 }


// decoration




.play{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: $white;
	color: $dodgerBlue;
	border-radius: 50% ;
}

.box{
	transition: 1.5s all cubic-bezier(0.39, 0.575, 0.565, 1);
}