// COLORS
$white:#fff;
$silver:#bcbcbc;
$codGray:#060606;
$yellow:#fff941;
$dodgerBlue:#4154fe;
$monza:#bc0428;

$windsor:#6b0c7a;
$jumbo:#78787a;
$astronautBlue:#014461;
$burntSirenna:#ec5a57;
$verdunGreen:#504e00;



